body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

/* header */
header.site-header {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

div.hero {
  background-image: url(../image/Playa.jpeg);
  background-position: top center;
  background-size: cover;
  height: 100vh;
}

div.contenido-header {
  padding-top: 40px;
}

div.informacion {
  color: #ffffff;
  text-align: center;
}

div.informacion p {
  display: inline;
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
}

div.flex {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

h1.nombre {
  font-family: "PT Sans", sans-serif;
  font-size: 5.9vw;
  text-transform: uppercase;
}

/* Barra */
div.barra {
  background-color: #353535;
  padding: 20px 0;
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

div.logo {
  width: 80%;
  float: left;
}

div.logo img {
  width: 100%;
}

nav.menu-principal {
  display: none;
  width: 100%;
}

nav.menu-principal a {
  clear: both;
  color: #ffffff;
  display: block;
  font-family: sans-serif;
  font-size: 1.3em;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.6s ease;
  width: 100%;
}

div.menu-movil {
  display: block;
  float: right;
  margin-top: 12px;
  text-align: right;
  width: 60px;
}

div.menu-movil:hover {
  cursor: pointer;
}

div.menu-movil span {
  background-color: #ffffff;
  display: block;
  height: 8px;
  margin-bottom: 6px;
}
